@custom-media --device-phone (width <= 575px);
@custom-media --device-tablet (576px<= width <= 767px);
@custom-media --device-laptop (768px <= width <= 1199px);
@custom-media --device-desktop (1200px <= width <= 1920px);
@custom-media --device-tv (width >= 1920px);

@custom-media --size-xs (356px <= width);
@custom-media --size-sm (576px <= width);
@custom-media --size-md (768px <= width);
@custom-media --size-lg (1200px <= width);
@custom-media --size-xl (1920px <= width);

/* custom css variables can only be stored in :root or html because of postcss */
html,
html[data-theme='light'] {
	--color-purple-dark: #7c5dfa;
	--color-purple-light: #9277ff;

	--color-blue-dark: #1e2139;
	--color-blue-light: #252925;

	--color-grey-dark: #888eb0;
	--color-grey-light: #dfe3fa;

	--color-bleu-light: 7e88C3;
	--color-bleu-dark: 0C0E16;

	--color-red-dark: EC5757;
	--color-red-light: 9277FF;

	--color-black: #141625;
	--color-white: #f8f8fb;
}
